:root {
  /* Primary */
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

.profile {
  background-image: url("/images/bg-pattern-top.svg"),
    url("/images/bg-pattern-bottom.svg");
  background-position: top 1050% left -30%, bottom 1050% right -30%;
  background-repeat: no-repeat;
  background-color: var(--color-dark-cyan);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile__card {
  background: #ffffff;
  width: 20%;
  border-radius: 30px;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media only screen and (max-width: 1224px) {
  .profile__card {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .profile__card {
    width: 80%;
  }
}

.profile__card__header {
  height: 150px;
  background-image: url("/images//bg-pattern-card.svg");
  background-color: var(--color-dark-cyan);
  display: flex;
  justify-content: center;
  position: relative;
}

.profile__img {
  position: absolute;
  bottom: -30%;
  border-radius: 50%;
  border: 5px solid #fff;
}

.profile__card__content {
  padding: 4rem 0 2rem;
  text-align: center;
}

.profile__card__name {
  margin-bottom: 10px;
  display: inline-block;
}
.profile__card__age {
  margin-left: 3px;
}

.profile__card__location {
  font-size: 0.8rem;
}

.dark-grey-text {
  color: var(--dark-gray);
}

.profile__card__footer {
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem 0;
}

.meta-info .value {
  margin-bottom: 0.5rem;
}

.meta-info .label {
  letter-spacing: 1.1px;
}

@media only screen and (min-width: 375px) {
  .meta-info .label {
    font-size: 0.7rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
